@use '../../../components/styles/variables' as var;

.wrapperMarketPlace {
    display: flex;
    // overflow: hidden !important;
    // max-height: 100vh;
    padding-bottom: 32px;

    :global .page-left {
        width: 25%;

        &-container {
            width: inherit;
            height: 100vh;
            padding: 68px 8px;
            background-color: var.$bg_clear;
            box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
            position: fixed;
            overflow: auto;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 24px;
                font-weight: 500;
            }

            &-action {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: var.$bg_icon;

                &:hover {
                    cursor: pointer;
                    background-color: var.$bg_icon_hover;
                }
            }
        }

        &-search {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 8px 0;
            padding: 0 7px;

            &-container {
                height: 37px;
                width: 100%;
                padding: 0 6px 0 12px;
                background-color: rgba(22, 24, 35, 0.06);
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 0 5px;
                margin-bottom: 16px;

                i {
                    color: rgba(22, 24, 35, 0.5);
                }

                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    font-size: 15px;
                }
            }
        }

        &-content {
            .active {
                background-color: var.$bg_icon;

                .page-left-content-item-icon {
                    background-color: var.$color_primary;
                    color: #fff;
                }
            }
            &-item {
                padding: 5px 8px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 8px;
                gap: 0 6px;
                font-size: 14px;

                .section-left {
                    display: flex;
                    align-items: center;
                    gap: 0 6px;
                    span {
                        font-weight: 500;
                    }
                }

                &-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: var.$bg_icon;
                    font-size: 18px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var.$bg_icon;
                }
            }
        }

        &-action {
            width: 95%;
            margin: 0 auto;
            margin-top: 12px;

            button {
                width: 100%;
                padding: 10px 0;
                background-color: var.$btn_bg;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var.$color_primary;
                border-radius: 8px;
                font-weight: 500;
                gap: 8px;

                &:hover {
                    cursor: pointer;
                    background-color: var.$btn_bg_hover;
                }
            }
        }
    }

    :global .nav-mobile {
        display: none;
    }

    :global .page-right {
        width: 75%;
        padding-top: 68px;
    }

    @media screen and (max-width: 1023px) {
        :global .page-left {
            display: none;
        }

        :global .nav-mobile {
            display: block;
        }

        :global .page-right {
            width: 100%;
            padding-top: 150px;
        }
    }
}

.wrapperNavMobile {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    position: fixed;
    top: 54px;
    padding: 16px 16px 6px 16px;
    gap: 0 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    :global .nav-item {
        width: calc(100% / 4);
        display: flex;
        align-items: center;
        gap: 0 6px;
        padding: 5px 8px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.04);
        }

        &-icon {
            width: 37px;
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var.$bg_icon;
        }

        span {
            font-size: 14px;
            font-weight: 600;
        }

        &-active {
            background-color: var.$btn_bg_hover;

            .nav-item {
                &-name {
                    color: var.$color_primary;
                }
                &-icon {
                    color: var.$color_primary;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 12px 8px 6px 8px;
        :global .nav-item {
            justify-content: center;
            &-name {
                display: none;
            }
        }
    }
}

.wrapperBrowseAll {
    width: 94%;
    margin: 0 auto;

    :global .browse-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        &-title {
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }

        &-address {
            display: flex;
            align-items: center;
            gap: 0 8px;
            color: var.$color_primary;

            i {
                font-size: 12px;
            }

            span {
                font-size: 14px;
            }
        }
    }

    :global .browse-content {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 32px 8px;
        margin-top: 16px;
        flex-wrap: wrap;

        &-item {
            width: calc(100% / 4 - 6px);
            border-radius: 8px;
        }
        &-img {
            width: 100%;
            height: 200px;
            border-radius: 8px 8px 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px 8px 0 0;
            }
        }

        &-price {
            font-weight: 500;
            margin: 6px 0;
        }

        &-desc {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 4px;
        }

        &-address {
            font-size: 12px;
            line-height: 14px;
            font-style: normal;
            color: var.$color_text;
        }
    }

    @media screen and (max-width: 1023px) {
        :global .browse-content {
            &-item {
                width: calc(100% / 3 - 6px);
            }
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        padding: 0 8px;

        :global .browse-content {
            &-item {
                width: 100%;
            }
        }
    }
}
