$bg_clear: rgb(255, 255, 255);
$bg_primary: rgb(241, 242, 245);
$bg_icon: #e4e6eb;
$bg_icon_hover: #cccdcf;
$color_primary: #1877f2;
$color_primary_hover: #0c5dc7;
$color_secondary: #fe2c55;
$color_secondary_hover: #e60000;
$color_hover: #f0f2f5;
$color_text: #65676b;
$color_black: #050505;
$box_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$btn_bg: rgb(231, 243, 255);
$btn_bg_hover: rgb(204, 228, 255);
